@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Nómina Vigente por Departamento";
    // Obtienes los parámetros como string, lo cual es correcto.
    var deptNo = Context.Request.Query["deptNo"].ToString();
    var fechaStr = Context.Request.Query["fecha"].ToString();
}
<div class="container">
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Departamento</th>
                            <th>Salario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.EmpNo</td>
                                <td>@x.Nombre</td>
                                <td>@x.DeptName</td>
                                <td>@x.Salario.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
